*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("./assests/programming-background-with-person-working-with-codes-computer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    width: auto;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
}
span{
    color:rgb(255, 0, 0);
}
#nav-links>a{
    text-decoration: none;    
    color: white;
    padding: 10px;
}