*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header,#Hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("./assests/programming-background-with-person-working-with-codes-computer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    width: auto;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
}
span{
    color:rgb(255, 0, 0);
}
#nav-links>a{
    text-decoration: none;    
    color: white;
    padding: 10px;
}
#Hero-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#hero-text{
    color: white;
    margin: 50px 0px 0px 50px;
    padding: 10px;
}
#hero-text>h1{
    padding: 5px;
    font-size: 45px;
}
#hero-text>h1:nth-child(3){
    color: red;
    padding-bottom: 15px;
}
#hero-text>#PORTFOLIO-btn{
    border: 2px solid red;
    width: 170px;
    color: white;
    padding: 20px;
    background-color: transparent;
}
#hero-text>#PORTFOLIO-btn:hover{
    background-color: red;
    transition: 1ms linear;
}
#hero-img{
    filter:drop-shadow(2px 2px 20px red);
    margin-top: 30px;
    margin-right: 10px;
}
#service-sec{
    width: auto;
    text-align: center;
    margin-top: 50px;
}
#service-sec>p{
    margin-top: 10px;
}
#service-card-sec{
    width: auto;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}
#card1,#card2,#card3,#card4{
    width:200px;
    height: 320px;
    padding: 10px;
    text-align: left;
    border-radius:20px 40px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("./assests/card\ pic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin-top: 30px;
    box-shadow:2px 2px 2px 2px red;
}
#card1>p{
    padding-top: 10px;
}
#recent-sec-heading{
    margin-top: 40px;
    text-align: center;
}
#recent-sec{
    width:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;  
}
#data-div{
    text-align: left;
    padding:50px 0px 0px 10px;
    background-color: rgb(104, 103, 103);
    color: white;
    width:500px;
    border: 1px solid black;
}
#data-div>h3,p,p{
    padding-bottom: 10px;
}
#recent-sec-img{
    width:500px;
    border: 1px solid black;
}
#about-sec{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 500px;
    column-gap: 50px;
    margin-left: 50px;
}
#about-img-sec{
    border: 6px solid red;
    height: 220px;
}
#about-img-sec>img{
    transform: translateX(20px) translateY(-20px);
}
#cv-download-btn{
    border: 2px solid red;
    width: 190px;
    padding: 20px;
    background-color: white;
}
#cv-download-btn>a{
    text-decoration: none;
    color: black;
}
#cv-download-btn:hover{
background-color: red;
transition: 1ms linear;
}
